.sphere {
  border: 1px solid #0093a4;
}
.sphere1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
}
#group1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
}
#group1 #sphere1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#group1 #sphere2 {
  width: 61.803402264934%;
  height: 61.803402264934%;
  border-radius: 50%;
  position: absolute;
  left: 80%;
  top: 20%;
}
#group2 {
  text-align: center;
  width: 500px;
  height: 500px;
  position: absolute;
  left: 400px;
  top: 200px;
}
#group2 #orbit1 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  z-index: 10;
  -webkit-transform-origin: bottom center;
}
#group2 #orbit2 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  z-index: 20;
  -webkit-transform-origin: bottom center;
}
#group2 #orbit3 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  z-index: 30;
  -webkit-transform-origin: bottom center;
}
#group2 #sphere1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 75px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
#group2 #sphere2 {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 175px;
  left: 175px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#group2 #sphere3 {
  position: relative;
  top: 10%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere4 {
  position: relative;
  top: 64%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere5 {
  position: relative;
  top: -50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere6 {
  position: absolute;
  top: -8%;
  width: 50px;
  height: 50px;
  left: 25px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.stop #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(230deg);
}
.stop #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(230deg);
}
.stop #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(230deg);
}
.opening .sphere {
  border: 1px solid #fff;
}
.opening #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(590deg);
}
.opening #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(230deg);
}
.opening #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(230deg);
}
.act1 .sphere {
  border: 1px solid #fff;
}
.act1 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(354deg);
}
.act1 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(265deg);
}
.act1 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(200deg);
}
.act2 .sphere {
  border: 1px solid #a41f00;
}
.act2 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(490deg);
}
.act2 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(720deg);
}
.act2 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(560deg);
}
.act3 .sphere {
  border: 1px solid #a40078;
}
.act3 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(170deg);
}
.act3 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(175deg);
}
.act3 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(80deg);
}
.act4 .sphere {
  border: 1px solid #e2ba65;
}
.act4 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(30deg);
}
.act4 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(120deg);
}
.act4 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(290deg);
}
.act5 .sphere {
  border: 1px solid #6648d8;
}
.act5 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(40deg);
}
.act5 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(120deg);
}
.act5 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(80deg);
}
.act6 .sphere {
  border: 1px solid #008c7d;
}
.act6 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(-40deg);
}
.act6 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(25deg);
}
.act6 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(30deg);
}
.act7 .sphere {
  border: 1px solid #8c0028;
}
.act7 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(20deg);
}
.act7 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(-90deg);
}
.act7 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(-10deg);
}
.act8 .sphere {
  border: 1px solid #ffdce6;
}
.act8 #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(173deg);
}
.act8 #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(0deg);
}
.act8 #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(-8deg);
}
.big-bang .sphere {
  border: 1px solid #ffdce6;
}
.big-bang #orbit1 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(17300deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.big-bang #orbit2 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(1000deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.big-bang #orbit3 {
  transition: all 1s ease-in-out;
  -webkit-transform: rotate(-800deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.finale .sphere {
  border: 1px solid #ffdce6;
}
.finale #orbit1 {
  -webkit-transform: rotate(4320deg);
  -webkit-transition: -webkit-transform 432s linear;
}
.finale #orbit2 {
  -webkit-transform: rotate(43200deg);
  -webkit-transition: -webkit-transform 432s linear;
}
.finale #orbit3 {
  -webkit-transform: rotate(49200deg);
  -webkit-transition: -webkit-transform 432s linear;
}
.smooth-orbits-1 #orbit1 {
  -webkit-transform: rotate(4320deg);
  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}
.smooth-orbits-1 #orbit2 {
  -webkit-transform: rotate(43200deg);
  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}
.smooth-orbits-1 #orbit3 {
  -webkit-transform: rotate(49200deg);
  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}

