/* begin less functions */
/* end less functions */
body {
  font-family: arial, helvetica, sans-serif;
  color: #fff;
  background-color: #000;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}
nav ul li a {
  cursor: pointer;
}
nav ul li a:hover {
  color: #0093a4;
}
.sphere {
  border: 3px solid #0093a4;
}
.sphere1 {
  width: 100px;
  height: 100px;
  /* RADIUS */

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  /* END RADIUS */

}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
#group1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
}
#group1 #sphere1 {
  width: 100%;
  height: 100%;
  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

}
#group1 #sphere2 {
  width: 61.803402264934%;
  height: 61.803402264934%;
  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  position: absolute;
  left: 80%;
  top: 20%;
}
#group2 {
  text-align: center;
  /*border:1px solid blue;*/

  width: 500px;
  height: 500px;
  position: absolute;
  left: 400px;
  top: 200px;
  /*slow*/

  /*slower*/

  /*slowest*/

}
#group2 #orbit1 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  /*border-right:1px solid grey;*/

  z-index: 10;
  -webkit-transform-origin: bottom center;
}
#group2 #orbit2 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  /*border-right:1px solid grey;*/

  z-index: 20;
  -webkit-transform-origin: bottom center;
}
#group2 #orbit3 {
  position: absolute;
  left: 225.5px;
  top: 0px;
  width: 10%;
  height: 50%;
  /*border-right:1px solid grey;*/

  z-index: 30;
  -webkit-transform-origin: bottom center;
}
#group2 #sphere1 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 75px;
  width: 350px;
  height: 350px;
  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  /*.radius(@sphere1size * .5);*/

}
#group2 #sphere2 {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 175px;
  left: 175px;
  width: 150px;
  height: 150px;
  /*.radius(@spheresize * .5);*/

  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  /*
		position:absolute;
		left:(@sphere1size * .5) - (@spheresize*.5);
		top:(@sphere1size * .5) - (@spheresize*.5);
		*/

}
#group2 #sphere3 {
  position: relative;
  top: 10%;
  width: 90px;
  height: 90px;
  /*.radius(@spheresize * .5);*/

  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere4 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  /*top:5%;*/

  top: 64%;
  width: 30px;
  height: 30px;
  /*.radius(@spheresize * .5);*/

  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere5 {
  position: relative;
  top: -50%;
  width: 120px;
  height: 120px;
  /*.radius(@spheresize * .5);*/

  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  margin-left: auto;
  margin-right: auto;
}
#group2 #sphere6 {
  position: absolute;
  top: -8%;
  width: 50px;
  height: 50px;
  left: 25px;
  /* RADIUS */

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* END RADIUS */

  /*.radius(@spheresize * .5);*/

  margin-left: auto;
  margin-right: auto;
}
.stop #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(230deg);
}
.stop #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(230deg);
}
.stop #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(230deg);
}
.opening .sphere {
  border: 3px solid #fff;
}
.opening #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(590deg);
}
.opening #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(230deg);
}
.opening #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(230deg);
}
.act1 .sphere {
  border: 3px solid #fff;
}
.act1 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(354deg);
}
.act1 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(265deg);
}
.act1 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(200deg);
}
.act2 .sphere {
  border: 3px solid #a41f00;
}
.act2 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(490deg);
}
.act2 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(720deg);
}
.act2 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(560deg);
}
.act3 .sphere {
  border: 3px solid #a40078;
}
.act3 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(170deg);
}
.act3 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(175deg);
}
.act3 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(80deg);
}
.act4 .sphere {
  border: 3px solid #e2ba65;
}
.act4 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(30deg);
}
.act4 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(120deg);
}
.act4 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(290deg);
}
.act5 .sphere {
  border: 3px solid #6648d8;
}
.act5 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(40deg);
}
.act5 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(120deg);
}
.act5 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(80deg);
}
.act6 .sphere {
  border: 3px solid #008c7d;
}
.act6 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(-40deg);
}
.act6 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(25deg);
}
.act6 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(30deg);
}
.act7 .sphere {
  border: 3px solid #8c0028;
}
.act7 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(20deg);
}
.act7 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(-90deg);
}
.act7 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(-10deg);
}
.act8 .sphere {
  border: 3px solid #ffdce6;
}
.act8 #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(173deg);
}
.act8 #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(0deg);
}
.act8 #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(-8deg);
}
.big-bang .sphere {
  border: 3px solid #ffdce6;
}
.big-bang #orbit1 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(17300deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.big-bang #orbit2 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(1000deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.big-bang #orbit3 {
  /* TRANSITIONS */

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  /* END TRANSITIONS */

  -webkit-transform: rotate(-800deg);
  -webkit-transition: -webkit-transform 45s linear;
}
.finale .sphere {
  border: 3px solid #ffdce6;
}
.finale #orbit1 {
  -webkit-transform: rotate(4320deg);
  /*720 * 360*/

  -webkit-transition: -webkit-transform 432s linear;
}
.finale #orbit2 {
  -webkit-transform: rotate(43200deg);
  /*12 * 360*/

  -webkit-transition: -webkit-transform 432s linear;
}
.finale #orbit3 {
  -webkit-transform: rotate(49200deg);
  /*1 * 360*/

  -webkit-transition: -webkit-transform 432s linear;
}
/*orbit classes for motion*/
.smooth-orbits-1 #orbit1 {
  -webkit-transform: rotate(4320deg);
  /*720 * 360*/

  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}
.smooth-orbits-1 #orbit2 {
  -webkit-transform: rotate(43200deg);
  /*12 * 360*/

  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}
.smooth-orbits-1 #orbit3 {
  -webkit-transform: rotate(49200deg);
  /*1 * 360*/

  -webkit-transform-origin: bottom center;
  -webkit-transition: -webkit-transform 432s linear;
}
