/* Ice skin */
/*
@font-face
    font-family "sofachrome"
    font-style normal
    font-weight normal
    src local("../fonts/sofachrome rg it"), url("../fonts/sofachrome rg it.woff") format("woff")

@font-face
    font-family "sofachrome2"
    font-style normal
    font-weight normal
    src local("../fonts/sofachrome rg"), url("../fonts/sofachrome rg.woff") format("woff")
*/
h1#ah {
  position: absolute;
  display: block;
  left: 0;
  top: 20px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-image: url("/skins/ice/images/AHorb.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 20;
}
h1#ah .lines {
  display: none;
}
.splash h1#ah {
  position: relative;
  background-position: center;
}
.splash nav {
  position: relative;
  left: 50%;
  top: 50px;
}
.splash nav li:nth-child(1) {
  position: absolute;
  left: -350px;
  top: 0px;
}
.splash nav li:nth-child(2) {
  position: absolute;
  left: -150px;
  top: 150px;
}
.splash nav li:nth-child(3) {
  position: absolute;
  left: 90px;
  top: 150px;
}
.splash nav li:nth-child(4) {
  position: absolute;
  left: 300px;
  top: 0px;
}
.splash nav li:nth-child(5) {
  position: absolute;
  left: 300px;
  top: -150px;
}
.splash .lines {
  display: block;
  position: absolute;
  left: 50%;
  top: 50px;
  width: 700px;
  height: 500px;
}
.splash .lines div.hide {
  visibility: hidden;
  border-bottom: 1px solid #16bfe0;
}
.splash .lines div.show {
  visibility: visible;
  opacity: 0.5;
}
.splash .lines .line1 {
  width: 248px;
  height: 50px;
  -webkit-transform: translateY(70px) translateX(-310px) rotate(-24deg);
  position: absolute;
  top: -10px;
  left: 10px;
}
.splash .lines .line2 {
  width: 242px;
  height: 50px;
  -webkit-transform: translateY(20px) translateX(5px) rotate(-70deg);
  position: absolute;
  top: 133px;
  left: -205px;
}
.splash .lines .line3 {
  width: 255px;
  height: 50px;
  -webkit-transform: translateY(20px) translateX(5px) rotate(65deg);
  position: absolute;
  top: 120px;
  left: -50px;
}
.splash .lines .line4 {
  width: 340px;
  height: 50px;
  -webkit-transform: translateY(20px) translateX(5px) rotate(20deg);
  position: absolute;
  top: 30px;
  left: -30px;
}
h1#ah span {
  display: none;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
.heading {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 8rem;
  color: #dedede;
  z-index: 0;
  font-weight: 100;
  font-family: "sofachrome2", Helvetica, Arial, sans-serif;
}
nav {
  position: absolute;
  right: 20px;
  top: 7px;
  z-index: 10;
}
a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: overline;
  color: #16bfe0;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  color: #808080;
}
footer a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: overline;
  color: #16bfe0;
}

