/* Ice skin */
/*
@font-face
    font-family "sofachrome"
    font-style normal
    font-weight normal
    src local("../fonts/sofachrome rg it"), url("../fonts/sofachrome rg it.woff") format("woff")

@font-face
    font-family "sofachrome2"
    font-style normal
    font-weight normal
    src local("../fonts/sofachrome rg"), url("../fonts/sofachrome rg.woff") format("woff")
*/
h1#ah {
  position: absolute;
  display: block;
  left: 0;
  top: 20px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  background-image: url("/skins/ice/images/AHorb.jpg");
  height: 150px;
  background-repeat: no-repeat;
  background-position: left;
  z-index: 20;
}
.splash h1#ah {
  position: relative;
  background-position: center;
}
.splash nav {
  position: absolute;
  top: 50%;
}
.splash nav >ul>li: nth-child(1) {
  left: -200px;
  color: #f00;
}
h1#ah span {
  display: none;
}
body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  margin: 0;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
.heading {
  position: absolute;
  right: 30px;
  top: 10px;
  font-size: 8rem;
  color: #dedede;
  z-index: 0;
  font-weight: 100;
  font-family: "sofachrome2", Helvetica, Arial, sans-serif;
}
nav {
  position: absolute;
  right: 20px;
  top: 7px;
  z-index: 10;
}
a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  text-decoration: overline;
  color: #16bfe0;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  color: #808080;
}
footer a {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
}
footer a:hover {
  text-decoration: overline;
  color: #16bfe0;
}

