name: Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo "COMPOSER_ALLOW_SUPERUSER=1" >> $GITHUB_ENV
      - name: Test
        run: echo $COMPOSER_ALLOW_SUPERUSER
      - uses: actions/checkout@v3
      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          script: |
            cd /home/adam/adamhaley-com/
            .scripts/deploy.sh

